<a href="https://colab.research.google.com/github/Swanimadhoop/python/blob/main/raptor%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world")

hello world

#type

In [ ]:
a=1
b=4.6
c=0.4
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>

In [ ]:
b=True
print(type(b))
print(b)

<class 'bool'>
True

In [ ]:
s="hello"
print(s)
print(type(s))

hello
<class 'str'>

#basic arithmetic operations

In [ ]:
a=4
b=7
sum= a + b
print(sum)

11

In [ ]:
t= 5+3j
print(t)
print(type(t))

(5+3j)
<class 'complex'>

In [ ]:
a=9
b=3
diff= a - b
print(diff)

6

In [ ]:
a=2
b=8
product= a*b
print(product)

16

In [ ]:
a=9
b=3
div= a/b
print(div)

3.0

In [ ]:

quo=a // b
print(quo)

2

In [ ]:
rem=a%b
print(rem)

0

In [ ]:
a=3
b=2
pow=a**b
print(pow)

9

#avg of 3 numbers

In [ ]:
a=4
b=2
c=3
avg= (a+b+c)/3
print(avg)

3.0

In [ ]:
x=int(input('enter a number'))
y=int(input('enter a number'))
z=int(input('enter a number'))
avg=(x+y+z)/3
print(avg)

enter a number5
enter a number50
enter a number6
20.333333333333332

#perimeter  of triangle

In [ ]:
a=int(input('enter first side'))
b=int(input('enter second side'))
c=int(input('enter third side'))
perimeter=a+b+c
print(perimeter)

enter first side 4
enter second side3
enter third side4
11

#greatest of 2 nos

In [ ]:
a=int(input('enter first number'))
b=int(input('enter second number'))
if a > b:
 print(a,"is greater")
elif a < b:
 print(b,"is greater")
else:
 print("both are same")

enter first number20
enter second number4
20 is greater

#nature of quadratic eqn

In [ ]:
a=int(input('enter first number: '))
b=int(input('enter second number: '))
c=int(input('enter third number: '))
r=b*b-4*a*c
if r==0 :
 print("roots are real and equal")
elif r>0 :
  print("roots are real and unequal")
else:
  print("roots are imaginary and unequal")

enter first number: 5
enter second number: 7
enter third number: 9
roots are imaginary and unequal

#a no is multiple of another

In [ ]:
from re import A
a=int(input('enter first number : '))
b=int(input('enter second number : '))
if a>b :
  if a%b==0:
   print("b is a multiple of a")
  else:
   print("b is not a multiple of a")
else:
  if b%a==0:
    print("a is a multiple of b") 
  else:
    print("a is not a multiple of b")

enter first number : 24
enter second number : 4
b is a multiple of a

In [ ]:
m=int(input("enter first no : "))
n=int(input("enter second no: "))
step=int(input('step'))
i=m
while i<=n:
  print (i)
  i=i+step

enter first no : 4
enter second no: 19
step3
4
7
10
13
16
19

#prime number check

In [ ]:
c=0
n=int(input('enter a number: '))
f=2
while f<n:
  if n%f==0:
    c=c+1
    break
f=f+1
if c==0:
 print("the number is prime")
else: 
 print("the number is not prime")

enter a number: 44
the number is not prime

In [ ]:
for i in range(5):
 print(i)

0
1
2
3
4

# sum of digits of an integer

In [ ]:
n=int(input('enter the number: '))
t=n
s=0
while n>0:
  r=n%10
  s=s+r
  n=n//10
print (s)

enter the number: 789
24

# reverse

In [ ]:
n=int(input('enter the number: '))
t=n
s=0
while n>0:
  r=n%10
  s=s*10+r
  n=n//10
print (s)

enter the number: 5678
8765

# palindrome

In [ ]:
n=int(input('enter the number: '))
t=n
s=0
while n>0:
  r=n%10
  s=s*10+r
  n=n//10
if s==t:
  print("the number is palindrome")
else:
  print("the number is not palindrome")

enter the number: 1221
the number is palindrome

# amstrong

In [ ]:
n=int(input('enter the number: '))
t=n
s=0
while n>0:
  r=n%10
  s=s+r*r*r
  n=n//10
if s==t:
  print("the number is amstrong")
else:
  print("the number is not amstrong")

enter the number: 153
the number is amstrong

In [ ]:
n=int(input('enter the number: '))
t=n
s=0
while n>0:
   s=s+1
   n=n//10
x=t
r=0
sum=0
while t>0:
   r=t%10
   sum=sum+(r**s)
   t=t//10
if sum==x:
  print("the number is amstrong")
else:
  print("the number is not amstrong")

enter the number: 9474
the number is amstrong

# 2 digit number check

In [ ]:
n=int(input('enter the number: '))
if (n>9 and n<-100) :
  print("the number is two digit")
else:
  print("the number is not 2 digit")

enter the number: 567
the number is not 2 digit

# smallest of three numbers

In [ ]:
a=int(input('enter a: '))
b=int(input('enter b: '))
c=int(input('enter c: '))
if a<b:
  if a<c:
    print("a is the smallest number")
  else:
    print("c is the smallest number")
else:
  if b<c:
    print("b is the smallest number")
  else:
    print("c is the smallest number")

enter a: 4
enter b: 6
enter c: 2
c is the smallest number

# positive or negative or zero check

In [ ]:
n=int(input('enter the number'))
if n==0:
  print("the number is zero")
if n>0:
  print("the number is positive")
else:
  print("the number is negative")

enter the number-2
the number is negative

#distance on number line

In [ ]:
a=int(input('enter first point'))
b=int(input('enter second point'))
if a>b:
    s=a-b 
else:
    s=b-a
print(s)

enter first point5
enter second point10
5

# smallest digit in 2 digit

In [ ]:
n=int(input('enter a two digit number: '))
r=n%10
q=n//10
if q>r:
  print("the ones place digit is the smallest")
else:
  print("the tens place digit is the smallest")

enter a two digit number: 56
the tens place digit is the smallest

#sum of n natural numbers

In [ ]:
n=int(input('enter the number: '))
sum=n*(n+1)//2
print(sum)

enter the number: 9
45

#time from seconds

In [17]:
import math
t=int(input("enter time in seconds: "))
h=math.floor(t/3600)
t2=h*3600
t3=t-t2
m=math.floor(t3/60)
t4=m*60
s=t3-t4
print("hour=",h)
print("minutes=",m)
print("seconds=",s)

enter time in seconds: 78
hour= 0
minutes= 1
seconds= 18

#area of a triangle

In [ ]:
import math
x=int(input("enter side x: "))
y=int(input("enter side y: "))
z=int(input("enter side z: "))
s=(x+y+z)/2
A=math.sqrt(s+(s-x)+(s-y)+(s-z))
print(A)

enter side x: 5
enter side y: 2
enter side z: 9
4.0

#area of circle

In [ ]:
r=int(input("enter the radius: "))
pi=3.14
A=pi*r*r 
print(A)

enter the radius: 5
78.5

#factorial

In [ ]:
n=int(input("enter the number: "))
a=1
if n>=1:
  for i in range(1,n+1):
    a=a*i
elif n==0:
    print('1')
print(a)

enter the number: 5
120

#greatest of two numbers

In [ ]:
a=int(input('enter first number: '))
b=int(input('enter second number: '))
if a>b:
  print("first number is greatest")
else:
  print("second numberis greatest9")

enter first number: 56
enter second number: 8
first number is greatest

# interchange variable value

In [ ]:
x=int(input('enter first number: '))
y=int(input('enter second number: '))
x,y=y,x
print("x=" ,x)
print("y=" ,y)

enter first number: 4
enter second number: 8
x= 8
y= 4

# convert no of days into years months and days

In [5]:
n=int(input("Enter the number of days:"))
year=n//365
a=n%365;
months=a//30
days=a%30
print("Number of years:",year,"Numbers of months:",months,"Number of days:",days)

Enter the number of days:454
Number of years: 1 Numbers of months: 2 Number of days: 29

# n elements of fibonacci series

In [ ]:
n=int(input('enter the no of terms: '))
n1=0
n2=1
s=0
if n<=0:
  print("please enter a positive value")
elif n==1:
  print(n1)
else:
 while s<n:
  print(n1)
  n3=n1+n2
  n1=n2
  n2=n3
  s+=1

enter the no of terms: 9
0
1
1
2
3
5
8
13
21

# x^n using loops

In [ ]:
n=int(input('enter the number: '))
p=int(input('enter the power: '))
s=1
for i in range(p):
  s=s*n
print(s)

enter the number: 3
enter the power: 3
27

# gcd of two numbers

In [ ]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

print(gcd(60,48))

12

# decimal equaivalent of a binary number

In [18]:
n=int(input("Enter the binary number:"))
s,i=0,0
while(n>0):
  r=n%10
  s=s+(r*(math.pow(2,i)))
  n=n//10
  i=i+1
print("The binary equalent is:",s)

Enter the binary number:10101
The binary equalent is: 21.0

# automorphic number

In [4]:
import math
n=int(input("Enter a number:"))
sq=n*n
n1=n
c=0
while(n>0):
    c=c+1
    n=n//10
a=sq%math.pow(10,c)
if(a==n1):
    print("The number is Automorphic")
else:
    print("The number is not Automorphic")

Enter a number:25
The number is Automorphic

# n odd numbers

In [15]:
n=int(input('enter the number of elements'))
for i in range(1,n*2,2):
  print(i," ")

enter the number of elements14
1
3
5
7
9
11
13
15
17
19
21
23
25
27

# n terms of ap

In [6]:
n=int(input("Enter the number of elements:"))
a=int(input("Enter the value of a:"))
d=int(input("Enter the value of d:"))
b=1;
while(n>=b):
  s=a+((b-1)*d)
  print(s)
  b=b+1

Enter the number of elements:9
Enter the value of a:2
Enter the value of d:5
2
7
12
17
22
27
32
37
42

# sum of factors

In [2]:
n=int(input("Enter a number:"))
i=1
s=0
while(i<=n):
  if(n%i==0):
    s=s+i
  i=i+1
print("Sum of factors=",s)

Enter a number:7
Sum of factors= 8